@import "@styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .image {
    width: 100%;
    height: auto;
  }

  .shortText {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    color: $black;
    font-size: 18px;
  }

  .longText {
    font-weight: 400;
  }
}

.container.dark {
  .shortText {
    color: $white;
  }
}

@media screen and (min-width: $desktop) {
  .container {
    .image {
      height: 573px;
      width: 483px;
    }

    .longText {
      max-width: 580px;
    }
  }
}
