@import "@styles/variables.scss";

.container {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: $white;
  width: 70%;
  min-height: 100vh;
  border-right: 1px solid $grey-dark;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  padding-inline: 24px;
  padding-top: 69px;
  z-index: 3;
  transition: all 0.4s linear;
  overflow: visible;

  .listTitle {
    margin-bottom: 16px;
    color: $grey;
    font-size: 12px;
    line-height: 100%;
    margin-left: 8px;
  }

  .links {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .link {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 12px;
      cursor: pointer;
      transition: all 0.2s linear;
      background-color: transparent;
      border: 1px solid transparent;

      // pass transition to all svg elements
      & > * {
        transition: all 0.2s linear;

        & > * {
          transition: inherit;
        }
      }

      .label {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $grey;
      }

      &.active {
        background-color: $grey-ultra-light;
        border: 1px solid $grey-light;
        border-radius: 6px;

        .label {
          color: $black;
        }
      }

      &:hover {
        .label {
          color: $black;
        }
      }
    }
  }
}

.container.dark {
  background-color: $black;
  .links {
    .link {
      &.active {
        background-color: $grey-dark;
        border: 1px solid $grey;

        .label {
          color: $white;
        }
      }

      &:hover {
        .label {
          color: $white;
        }
      }
    }
  }
}

.container.active {
  left: 0;
}

.backdrop {
  position: fixed;
  inset: 0;
  opacity: 0;
  z-index: -10;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.4s linear;

  &.active {
    z-index: 2;
    opacity: 1;
  }
}

@media screen and (min-width: $desktop) {
  .container {
    position: relative;
    border-right: none;
    min-height: fit-content;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;

    &.dark {
      background-color: transparent;
    }

    .links {
      width: 100%;
    }
  }

  .backdrop {
    display: none;
  }
}