$black: #151616;
$white: #FDFFFE;
$primary: #29F2AA;
$primary-light: #DEF9EF;
$grey: #656867;
$grey-dark: #2F3030;
$grey-light: #B8C3C0;
$grey-ultra-light: #F5F5F5;
$system-green: #30D158;

$tablet: 768px;
$desktop: 1028px;