@import "@styles/variables.scss";

.spinner {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $white;
    animation: 1.5s linear forwards infinite rotate;

    &::before, 
    &::after {
        content: '';
        position: absolute;
        inset: 15%;
        background-color: $primary;
        border-radius: 50%;
        z-index: 2;
    }

    &::after {
        border-radius: 0 0 50% 50% ;
        top: 60%;
        bottom: -1px;
        left: 0;
        right: 0;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}