@import "@styles/variables.scss";

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px;
    border-bottom: 1px solid $grey-dark;

    .logo {
        position: relative;
        z-index: 5;
    }
}

@media screen and (min-width: $desktop) {
    .container {
        width: 267px;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;
        padding-top: 40px;
        padding-inline: 24px;
        border-bottom: none;
        border-right: 1px solid $grey-ultra-light;

        &.dark {
            border-right: 1px solid $grey-dark;
        }
    }
}