@import "@styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .prevLink {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 16px;
    color: $grey;
  }

  h1 {
    color: $black;
  }

  p {
    font-size: 18px;
    color: $black;
  }
}

.container.dark {
  .prevLink {
    color: $grey-light;
  }
  
  h1 {
    color: $white;
  }

  p {
    color: $white;
  }
}
