@import "@styles/variables.scss";

.container {
  position: relative;
  top: 0px;
  right: 0;
  transition: 0.1s ease-in;

  &.right {
    right: -100%;
  }
}

@media screen and (max-width: $tablet) {
  .container {
    
    &.right {
      right: 0;
      animation: .5s linear forwards rotate;
    }
  }
}

@keyframes rotate {
  0% {
    top: 0px;
    right: 0;
    transform: rotate(0deg);
  }

  40% {
    top: -200px;
    right: 30%;
    transform: rotate(360deg);
  }

  80%{
    right: 0;
    top: 10px;
    transform: rotate(740deg);
  }

  90% {
    right: 0;
    top: 10px;
    transform: rotate(710deg);
  }

  100% {
    right: 0;
    top: 0px;
    transform: rotate(720deg);
  }
}