.container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .description {
        font-weight: 400;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        button {
            margin-top: 14px;
        }
    }
}