.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &.largeGap {
    gap: 48px;
  }

  .item {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    .image {
      border-radius: 6px;
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 8px;

      a.disabled {
        pointer-events: none;
      }

      .description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 400;
      }
    }
  }
}
