@import "@styles/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $tablet) {
        h2 {
            font-size: 32px;
        }
    }
}