@import "@styles/variables.scss";

.container {
    display: flex;
    align-items: center;
    gap: 8px;

    .toggleContainer {
        position: relative;
        width: 51px;
        height: 31px;
        background-color: $system-green;
        border-radius: 20px;
        cursor: pointer;

        .knob {
            width: 27px;
            height: 27px;
            border-radius: 50%;
            background-color: $white;
            position: absolute;
            top: 50%;
            left: calc(51px - 27px - 1px);
            right: 1px;
            transform: translateY(-50%);
            transition: all .2s ease-in-out;
        }
    }
}

.container.dark {
    .toggleContainer {
        background-color: $grey;

        .knob {
            left: 1px;
            right: calc(51px - 27px - 1px);
        }
    }
}