@import "@styles/variables.scss";

.swiperContainer {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
  overflow: hidden;

  .arrowContainer {
    display: none;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(21, 22, 22, 0.6);
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
  }

  .nextArrow {
    right: 16px;
    transform: rotate(180deg);
  }

  .prevArrow {
    left: 16px;
  }

  .swiper {
    position: relative;
    display: flex;
    .swiperSlide {
      .image {
        width: 100%;
        height: auto;
      }
    }
  }
}

.pagination {
  position: absolute;
  background-color: black;
}

.bullet {
  width: 8px;
  height: 8px;
  background-color: $white;
  border-radius: 50%;
}

@media screen and (min-width: $desktop) {
    .swiperContainer {
        .arrowContainer {
            display: flex;
        }
    }
}
